VITE_WEATHER_API_KEY=your_openweathermap_api_key
VITE_WEATHER_CITY=Paris
VITE_WEATHER_UNITS=metric
VITE_WEATHER_LANG=fr

VITE_PRINTER_API_URL=http://localhost:5100

CALENDAR_ID=your_calendar_id@group.calendar.google.com
